.container {
    width: 1000px;
    margin: 0 auto;
    
}

@font-face {
    font-family: "inter";
    src: url(../fonts/Inter/static/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: "inter";
    src: url(../fonts/Inter/static/Inter_18pt-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "inter";
    src: url(../fonts/Inter/static/Inter_18pt-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "ibm";
    src: url(../fonts/IBM_Plex_Sans/static/IBMPlexSans-Regular.ttf);
}
@font-face {
    font-family: "ibm";
    src: url(../fonts/IBM_Plex_Sans/static/IBMPlexSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "public sans";
    src: url(../fonts/Public_Sans/static/PublicSans-SemiBold.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}
@font-face {
    font-family: "work sans";
    src: url(../fonts/Work_Sans/static/WorkSans-Regular.ttf);
}
.ibm {
    font-family: "ibm";
}
.inter {
    font-family: "inter";
}

.flex-container {
    display: flex;
}

/** Navigation bar **/

.main-nav {
    width:100%;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 10rem
    
}
.main-nav__item a{
    color: black;
    text-decoration: none;
}

.main-nav__left img{
    height: 40px
}
.main-nav__items {
    width: 600px;
    list-style: none;
    justify-content: space-evenly;
}
.main-nav__btns {
    list-style: none;
    width: 17rem;
    justify-content: space-evenly;
}
.main-nav__btn a{
    color: black;
    text-decoration: none;
}
/** Navigation bar **/

/** Section **/


.about-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: grey;
    margin-bottom: 0px;
}
.about-title {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 10px;
}
.about-img img {
    width: 450px
}
.about-text {
    display: flex;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}
/** Section **/
